.container {
  background: url(../../walpaper.jpg) no-repeat center top fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 950px;
  text-align: center;
  padding-top: 5px;
}

#videoModal {
  padding: 15px 50px 0 50px;
}

.play-button {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -50px;
  margin-top: -50px;
  display: block;
}
.play-button .play {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  border: 5px solid #444;
}
.play-button .play span {
  border-top: 25px solid transparent;
  border-bottom: 25px solid transparent;
  border-left: 40px solid #444;
  margin-top: 20px;
  margin-left: 30px;
  display: inline-block;
}
.play-button:hover .play {
  border: 5px solid #888;
}
.play-button:hover .play span {
  border-left: 40px solid #888;
}
